.logo{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}

body{
  background-color: white;
}