/* Login.css */

body.login-page {
  margin: 0;
  padding: 0;
  background-color: rgba(39, 115, 145, 0.337);
  color: #000000;
  font-family: Arial, sans-serif;
  /* Outros estilos específicos da página de login */
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.login-form {
  width: 300px;
  text-align: center;
  padding: 20px;
  border: 0px solid #272525;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.048);
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #007bffa2;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 77px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #315881;
}

.color-picker {
  margin-top: 16px;
}

.color-picker label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.color-picker input {
  width: 100%;
  appearance: none;
  padding: 0;
  border: none;
  height: 24px;
}
.elemento {
  width: 305.471px;
  height: 304.341px;
  flex-shrink: 0;
}


