.navbar {
  background-color: #38B6ff;
  padding: 10px;
  color: rgb(51, 40, 40);
  text-align: center;
  width: 100%;
  top: 0;
  left: 0; /* Certifica-se de que a navbar está alinhada à esquerda */
  z-index: 1000;
  box-sizing: border-box;
  /* Ajusta o z-index para garantir que a navbar esteja acima de outros elementos */
}


body {
  margin: 0; /* Remove a margem padrão do corpo */ /* Adiciona um espaço acima do conteúdo para acomodar a navbar fixa */
}

.navbar a {
  color: white; /* Cor padrão dos links */
  text-decoration: none; /* Remove sublinhado dos links */
  margin: 0 15px; /* Adiciona espaçamento entre os links */
  transition: color 0.3s; /* Adiciona transição suave para a mudança de cor */
}

.navbar a:hover {
  color: #66b2ff; /* Cor ao passar o mouse sobre os links */
}

.form-inline{
  margin: 12px; 
  box-sizing: border-box;
  gap: 10px;
}

.form-inline .btn {
  background-color: #38B6FF; /* Cor de fundo */
  color: #fff; 
  border: 2px solid white; 
  outline: none;
  cursor: pointer;
  &:hover {background-color: #a0c3d8;} 
  transition: background-color 0.3s; 
  /* Cor do texto */
}

/* Adicione estilos adicionais conforme necessário */