.navbar {
  background-color: #f07705;
  padding: 10px;
  color: rgb(51, 40, 40);
  text-align: center;
  position: fixed;
  width: 98.5%;
  top: 0;
  left: 0; /* Certifica-se de que a navbar está alinhada à esquerda */
  z-index: 1000; /* Ajusta o z-index para garantir que a navbar esteja acima de outros elementos */
}


body {
  margin: 0; /* Remove a margem padrão do corpo */
  padding-top: 50px; /* Adiciona um espaço acima do conteúdo para acomodar a navbar fixa */
}

.navbar a {
  color: white; /* Cor padrão dos links */
  text-decoration: none; /* Remove sublinhado dos links */
  margin: 0 15px; /* Adiciona espaçamento entre os links */
  transition: color 0.3s; /* Adiciona transição suave para a mudança de cor */
}

.navbar a:hover {
  color: #66b2ff; /* Cor ao passar o mouse sobre os links */
}

/* Adicione estilos adicionais conforme necessário */