/* Define uma variável para a largura da borda */
:root {
  --border-height: 2px; /* Defina a altura da borda desejada */
}

/* Estilo da barra de navegação */
.navbar {

  background-color: #1692da75;
  padding: 10px;
  color: #1692da54;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0; /* Certifica-se de que a navbar está alinhada à esquerda */
  z-index: 1000;
  box-sizing: border-box;
  /* Ajusta o z-index para garantir que a navbar esteja acima de outros elementos */
  position: fixed; /* Barra de navegação fixa na parte superior */
  display: flex; /* Exibição flexível para alinhamento */
  justify-content: flex-end; /* Alinhamento do conteúdo à direita */

}

/* Estilo da área de colapso da barra de navegação */
.navbar-collapse {
  display: flex; /* Exibição flexível */
  flex-direction: row; /* Direção da linha para os itens da barra de navegação */
  align-items: center; /* Alinhamento dos itens ao centro vertical */
}

/* Estilo global do corpo */
.navbar body {
  margin: 0; /* Remove a margem padrão do corpo */
  padding-top: 100px; /* Adiciona espaço acima do conteúdo para acomodar a barra de navegação fixa */
}

/* Estilo dos links na barra de navegação */
.navbar a {
  color: rgb(0, 0, 0); /* Cor do texto padrão */
  text-decoration: none; /* Remove sublinhado dos links */
  margin: 0 77px; /* Adiciona espaçamento entre os links */
  position: relative; /* Permite sobreposição de elementos filhos */
}

/* Estilo dos links na barra de navegação ao passar o mouse */
.navbar a:hover {
  color: rgb(255, 255, 255); /* Cor do texto ao passar o mouse sobre os links */
}

/* Cria uma linha (borda) abaixo dos links na barra de navegação */
.navbar a::before {
  content: ''; /* Adiciona conteúdo ao pseudo-elemento */
  position: absolute; /* Posicionamento absoluto em relação ao link pai */
  width: 100%; /* Largura total */
  height: var(--border-height); /* Altura definida pela variável */
  bottom: 0; /* Posiciona na parte inferior do link */
  left: 11; /* Alinhamento à esquerda */
  background-color: transparent; /* Cor de fundo transparente inicial */
  z-index: -1; /* Ordem de empilhamento para ficar atrás do link */
  transition: background-color 0.7s; /* Adiciona transição suave para a mudança de cor de fundo */
}

.form-inline .btn {
  background-color: #00a2ff; /* Cor de fundo */
  color: #fff; 
  border: 2px solid white; 
  outline: none;
  cursor: pointer;
  &:hover {background-color: #a0c3d8;} 
  transition: background-color 0.3s; 
  /* Cor do texto */
} 

/* Muda a cor de fundo da borda ao passar o mouse sobre os links */
.navbar a:hover::before {
  background-color: rgb(25, 70, 219); /* Cor ao passar o mouse sobre os links */
}