body {
  background-color: white;
}

h1 {
  color: black;
}

p {
  background-color: rgb(121, 121, 121);
  padding: 10px;
}

.navbar {
  background-color: #f8f9fa; /* Cor de fundo */
  padding: 10px; 
}

form-inline .form-control {
  margin-right: 10px; /* Espaçamento entre o campo de pesquisa e o botão */
}

